body {
 animation: flicker-bg 0.5s infinte;
 font-family: Arial, sans-serif;
 color: #cccccc;
 padding: 20px;
}

@keyframes flicker-bg {
  0% {background-color: black;}
  50% {background-color: white;}
  100% {}
}

doggie {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
