body {
 animation: flicker-bg 0.15s infinite;
 font-family: Arial, sans-serif;
 color: blue;
 padding: 20px;

 disp
}

@keyframes flicker-bg {
  0% {background-color: black;}
  50% {background-color: white;}
  100% {background-color: black;}
}

.doggie {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
